<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agentScolarite">
            <h2><span jhiTranslate="inscriptionEspApp.agentScolarite.detail.title">Agent Scolarite</span> {{ agentScolarite.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inscriptionEspApp.agentScolarite.matricule">Matricule</span></dt>
                <dd>
                    <span>{{ agentScolarite.matricule }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.agentScolarite.user">User</span></dt>
                <dd>
                    {{ agentScolarite.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agent-scolarite', agentScolarite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
