<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etudiant">
            <h2><span jhiTranslate="inscriptionEspApp.etudiant.detail.title">Etudiant</span> {{ etudiant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inscriptionEspApp.etudiant.numIdentifiant">Num Identifiant</span></dt>
                <dd>
                    <span>{{ etudiant.numIdentifiant }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.etudiant.dateNaissance">Date Naissance</span></dt>
                <dd>
                    <span>{{ etudiant.dateNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.etudiant.lieuNaissance">Lieu Naissance</span></dt>
                <dd>
                    <span>{{ etudiant.lieuNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.etudiant.sexe">Sexe</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'inscriptionEspApp.EnumSexe.' + etudiant.sexe }}">{{ etudiant.sexe }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.etudiant.ine">Ine</span></dt>
                <dd>
                    <span>{{ etudiant.ine }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.etudiant.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ etudiant.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.etudiant.user">User</span></dt>
                <dd>
                    {{ etudiant.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etudiant', etudiant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
